
@use '../globals/utilities' as u;

/* BASE STYLES */

body {
    background-color: var(--clr-bg);
    color: var(--clr-light);
}

.section-heading {
    font-size: clamp(var(--fs-800), 2.78rem + 3.57vw, var(--fs-900));
    text-transform: uppercase;
    text-align: center;

    @include u.breakpoint(large) {
        text-align: start;
    }
}



