
/* @use '../globals/utilities' as u;
@use '../globals/variables' as vars; */

/* BASE STYLES */

body {
    background-color: var(--clr-bg);
    color: var(--clr-light);
    font-family: var(--ff-primary);
}

.section-heading {
    font-size: clamp(var(--fs-800), 2.78rem + 3.57vw, var(--fs-900));
    text-transform: uppercase;
    text-align: center;
}


