
/* UTILITIES */

$breakpoints: (
    "medium": 43.7rem,
    "large": 56.2rem,
    "xlarge": 90rem,
);

@mixin breakpoint($size) {
    @media (width > map-get($breakpoints, $size)) {
        @content;
    }
}

.visually-hidden {
    clip-path: inset(50%);
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
    height: 1px;
}

.wrapper {
    --max-width: 75rem;
    --inline-padding: var(--space-300);
    width: min(100% - var(--inline-padding) * 2, var(--max-width));
    margin-inline: auto;
    padding-block: var(--space-600);
}

.flow {
    --flow-space: var(-space-300);
}

.flow > * + * {
    margin-block-start: var(--flow-space, 1rem);
}

.ff-secondary-100 {
    font-family: var(--ff-secondary-100);
}

.ff-secondary-200 {
    font-family: var(--ff-secondary-200);
}

.ff-secondary-300 {
    font-family: var(--ff-secondary-300);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

.fw-semibold {
    font-weight: var(--fw-semibold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fw-extrabold {
    font-weight: var(--fw-extrabold);
}
