
@use '../globals/utilities' as u;

.bands {
    font-family: var(--ff-primary-2);
    font-weight: var(--fw-extrabold);
}

.bands__list {
    --flow-space: var(--space-500);
    --min-width: 350px;
    --grid-column-gap: var(--space-px-100);
    --grid-row-gap: var(--space-px-200);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-width)), 1fr));
    column-gap: var(--grid-column-gap);
    row-gap: var(--grid-row-gap);
}

.bands__list:has(:hover) .band:not(:hover){
    filter: brightness(100%) contrast(100%) saturate(50%) blur(0px) hue-rotate(0deg);
}

.band {
    position: relative;
    text-transform: uppercase;
    font-weight: var(--fw-extrabold);
    letter-spacing: 0.01em;
    text-align: center;
}

.band__name {
    --flow-space: var(--space-300);
    font-size: var(--fs-600);

    @include u.breakpoint(large) {
        font-size: var(--fs-400);
    }
}

.band__link {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}

.band__link::before {
    content: "";
    position: absolute;
    inset: 0;
}