
.bands {
    font-family: var(--ff-primary-2);
    font-weight: var(--fw-extrabold);
    padding-block: var(--space-600);
}

.bands__list {
    --flow-space: var(--space-500);
    --min-width: 350px;
    --grid-column-gap: var(--space-px-100);
    --grid-row-gap: var(--space-px-200);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-width)), 1fr));
    column-gap: var(--grid-column-gap);
    row-gap: var(--grid-row-gap);
}

.band {
    position: relative;
    text-transform: uppercase;
    font-weight: var(--fw-extrabold);
    letter-spacing: 0.01em;
    text-align: center;
}

.band__name {
    --flow-space: var(--space-300);
}

.band__link {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 2px;
}

.band__link::before {
    content: "";
    position: absolute;
    inset: 0;
}