
.news__grid {
    --flow-space: var(--space-600);
    --min-width: 250px;
    --grid-column-gap: var(--space-px-200);
    --grid-row-gap: var(--space-px-200);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min-width)), 1fr));
    column-gap: var(--grid-column-gap);
    row-gap: var(--grid-row-gap);
}

.news__item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    border: 4px solid var(--clr-accent-300);
    border-radius: 24px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .15);
}

.news__item__image {
    filter: brightness(100%) contrast(100%) saturate(25%) blur(0px) hue-rotate(0deg);
    transition: all ease-in-out .25;

    &:is(:hover, :focus-visible) {
        filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
    }
}

.news__item__title {
    color: var(--clr-accent-100);
    font-size: var(--fs-300);
    text-transform: uppercase;
    letter-spacing: .1em;
    border-bottom: 1px solid var(--clr-accent-200);
    padding-block-start: var(--space-300);
    padding-block-end: var(--space-500);
}

.news__item__date {
    color: var(--clr-accent-400);
    font-family: var(--ff-secondary-2);
    font-size: var(--fs-200);
    text-transform: uppercase;
    padding-block-start: var(--space-200);
    padding-block-end: var(--space-200);
}
